appnope==0.1.0
backcall==0.1.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cycler==0.10.0
decorator==4.4.1
deeplabcut==2.1.6.2
easydict==1.9
Flask==1.0.2
h5py==2.10.0
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.1
imgaug==0.4.0
intel-openmp==2019.0
ipython==7.12.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.0.3
moviepy==1.0.1
msgpack==1.0.0
msgpack-numpy==0.4.4.3
networkx==2.4
nltk==3.4.5
numexpr==2.7.1
numpy==1.16.4
opencv-python==3.4.9.31
pandas==0.23.4
parso==0.6.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
proglog==0.1.9
prompt-toolkit==3.0.3
psutil==5.7.0
ptyprocess==0.6.0
Pygments==2.5.2
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3
pyzmq==19.0.0
requests==2.23.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
Shapely==1.7.0
six==1.14.0
statsmodels==0.11.1
tables==3.6.1
tabulate==0.8.6
tensorpack==0.9.8
termcolor==1.1.0
tqdm==4.43.0
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.8
Werkzeug==1.0.0
